<h2><b><u>Welcome to SOS-Bracelets <%= @invitation.email %>!</b></u></h2>

<h3>Your friend <%= @invitation.team_profile.team.email %> invites YOU to join his team <%= @invitation.team_profile.name %> on SOS-Bracelets</h3>
<h4>Follow the below link, create Your account and be a part of <%= @invitation.team_profile.name %></h4>

<h4><b><%= link_to 'Create Account', new_user_registration_url() %></b></h4>
