<!-- Starting Bootsrap Modal for Edit Address-->
<div class="row">
  <center>
    <div class="container">
      <div class="modal fade" id="updateAddress" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Header -->
            <div class="modal-header" style="background: #2DBF7F;">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <center><h4 class="heading_text">Edit Address</h4></center>
            </div>
            <!-- Body (form) -->
            <div class="modal-body">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <center>
                      <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">

                          <div class="row">
                            <div class="col-md-4">
                              <%= label_tag :line1, "Line 1", class:"profile_label", style: "margin-top:0.5em;" %>
                            </div>
                            <div class="col-md-8">
                              <%= number_field_tag :id, nil, {id: "upaid", class: 'form-control my_text_field', style:"color: #1E8449;display:none;"}%>
                              <%= text_field_tag :line1, nil, {id: "upline1", placeholder: "Address Line 1", class: 'form-control my_text_field', style:"color: #1E8449;"}%>
                            </div>
                          </div>

                          <div class="row" style="margin-top:0.5em;">
                            <div class="col-md-4">
                              <%= label_tag :line2, "Line 2", class:"profile_label", style: "margin-top:0.5em;" %>
                            </div>
                            <div class="col-md-8">
                              <%= text_field_tag :line2, nil, {id: "upline2", placeholder: 'Address Line 2', class: 'form-control my_text_field', style:"color: #1E8449;"}%>
                            </div>
                          </div>

                          <div class="row" style="margin-top:0.5em;">
                            <div class="col-md-4">
                              <%= label_tag :city, "City", class:"profile_label", style: "margin-top:0.5em;" %>
                            </div>
                            <div class="col-md-8">
                              <%= text_field_tag :city, nil, {id: "upcity", placeholder: 'Enter City', class: 'form-control my_text_field', style:"color: #1E8449;"}%>
                              <h4 id="upcity_error" class="detail_error">City is required</h4>
                            </div>
                          </div>

                          <div class="row" style="margin-top:0.5em;">
                            <div class="col-md-4">
                              <%= label_tag :state, "State", class:"profile_label", style: "margin-top:0.5em;" %>
                            </div>
                            <div class="col-md-8">
                              <%= text_field_tag :state, nil, {id: "upstate", placeholder: 'Enter State', class: 'form-control my_text_field', style:"color: #1E8449;"}%>
                              <h4 id="upstate_error" class="detail_error">State is required</h4>
                            </div>
                          </div>

                          <div class="row" style="margin-top:0.5em;">
                            <div class="col-md-4">
                              <%= label_tag :country, "Country", class:"profile_label", style: "margin-top:0.5em;" %>
                            </div>
                            <div class="col-md-8">
                              <%= country_select("user", "country", { prompt: 'Select a country' }, {id: "upaddress_country", class: "form-control my_text_field", style:"color: #1E8449;"}) %>
                              <h4 id="upaddress_country_error" class="detail_error">Select a Country First</h4>
                            </div>
                          </div>


                        </div>
                        <div class="col-md-1"></div>
                      </div>
                    </center>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <center>
                <h4 id="upaddress_error" class="detail_error">Unrecognized Error! Try Again Later</h4>
                <%= image_tag ("loading.gif"), id:"loading_update_address", class: 'img-responsive', style: "display:none;margin-left:39%;width:32px;height:32px;position:absolute;" %>
                <% if team_signed_in? %>
                  <button id="update_address" onclick="update_my_address(<%= @leader.id%>)" type="button" class='btn btn-large btn-info' style="font-weight:bold;font-family: 'Merriweather', serif; background-color:#229954;border-color:#229954;">Save</button>
                <%elsif user_signed_in?%>
                  <button id="update_address" onclick="update_my_address(<%= @profile.id%>)" type="button" class='btn btn-large btn-info' style="font-weight:bold;font-family: 'Merriweather', serif; background-color:#229954;border-color:#229954;">Save</button>
                <%end%>
                <button type="button" class="btn btn-danger" data-dismiss="modal" style="color:#C0392B;">Close</button>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </center>
</div>
<!-- Ending Bootsrap Modal for Edit Address-->
