<% content_for :title, "Edit Product | SOS Bracelets" %>

  <div class="container"  style="padding-top: 37px;">
    <div class="row">
      <div class="col-md-12 no-pad-xs">
        <div class="row login_signup_heading" style="padding:0px;margin:0px;">
          <div class="col-md-12">
            <center><h3 class="heading_text">Edit Product</i></h3></center>
          </div>
        </div>
          <div class="jumbotron" style="padding-bottom:1em; background-color: rgba(255,255,255,0.9); border-radius:0 0 1em 1em;">
            <div class="row">
                <div class="col-md-12">
                    <center>
                           <%= form_with(url: admin_product_path, model: @item,  local: true, html: { multipart: true }) do |form| %>
                               <% if @item.errors.any? %>
                                   <div class="form-group alert alert-error alert-block" id="error_explanation">
                                     <button type="button" class="close" data-dismiss="alert">x</button>
                                     <h5 class="heading_error"><%= pluralize(@item.errors.count, "error") %> prohibited this Product from being saved:</h5>
                                     <% @item.errors.full_messages.each do |msg| %>
                                       <h6 class="heading_error"><%= msg%></h6>
                                     <% end %>
                                   </div>
                               <% end %>
                               <div class="row">
                                 <center>
                                    <div class="container">
                                       <div class="modal fade" id="addPhoto">
                                           <div class="modal-dialog">
                                               <div class="modal-content">
                                                  <!-- Header -->
                                                  <div class="modal-header" style="background: #2DBF7F;">
                                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                      <center><h4 class="heading_text">Choose Avatar</h4></center>
                                                  </div>
                                                  <!-- Body (form) -->
                                                  <div class="modal-body">
                                                      <div class="form-group">
                                                           <div class="row">
                                                                <div class="col-md-12">
                                                                     <center>
                                                                         <%= image_tag(@item.avatar, {id: "postimg", style: "width:250px;height:250px;",class: "img-thumbnail img-circle",alt: "Product Image"}) %>
                                                                         <h4 class="heading_text" style="font-style: italic;color:#2DBF7F;font-weight:normal;">Preview</h4>
                                                                         <div class="row">
                                                                             <center>
                                                                                  <%= form.file_field :avatar, id:"post-upload",class: "btn btn-info" %>
                                                                                  <button type="button" class="btn btn-success" data-dismiss="modal" style="margin-top:1em;">Save</button>
                                                                             </center>
                                                                         </div>
                                                                     </center>
                                                                </div>
                                                           </div>
                                                      </div>
                                                  </div>
                                                  <div class="modal-footer">
                                                      <center><button type="button" class="btn btn-danger" data-dismiss="modal" style="color:#C0392B;">Close</button></center>
                                                  </div>
                                               </div>
                                           </div>
                                       </div>
                                    </div>
                                 </center>
                               </div>
                               <div class="row">
                                 <div class="col-xs-12 col-md-4">
                                   <div class="form-group">
                                     <center>
                                       <%= image_tag(@item.avatar, {id: "team_image",  style: "width:220px;height:220px;",class: "img-responsive img-thumbnail img-circle",alt: "Product Image"}) %>
                                     <br>
                                     <input data-toggle="modal" data-target="#addPhoto" class="btn btn-block btn-info" type="button" value="Add Avatar">
                                     </center>
                                   </div>
                                 </div>
                                 <div class="col-xs-12 col-md-8">
                                    <div class="form-group" style="margin-top:0.5em;">
                                       <div class="col-md-3">
                                           <%= form.label :title, "Title",class: "login_signup_label"%>
                                       </div>
                                       <div class="col-md-9">
                                           <%= form.text_field :title, id: :@item_title, autofocus: true, placeholder: 'Enter Product Title', class: 'form-control my_text_field', style:"color: #1E8449;",required: true %>
                                       </div>
                                    </div>
                                    <div class="form-group" style="margin-top:4.5em;">
                                      <div class="col-md-3">
                                          <%= form.label :price, "Price",class: "login_signup_label" %>
                                      </div>
                                      <div class="col-md-9">
                                          <%= form.text_field :price, id: :@item_price, autofocus: true, placeholder: 'Enter Product Price', class: 'form-control my_text_field', style:"color: #1E8449;",required: true%>
                                      </div>
                                    </div>
                                    <div class="form-group" style="margin-top:8.5em;">
                                       <div class="col-md-3">
                                           <%= form.label :description, "Description",class: "login_signup_label" %>
                                       </div>
                                       <div class="col-md-9" >
                                           <%= form.text_area :description, id: :@item_description, class:"form-control", autofocus: true, placeholder: 'Write Description', class: 'form-control my_text_field', style:"color: #1E8449; padding-bottom:2.5em",required: true %>
                                       </div>
                                    </div>
                                 </div>
                               </div>
                               <br>
                               <div class="row">
                                 <div class="form-group">
                                   <div class="col-md-5"></div>
                                   <div class="col-md-2">
                                     <center>
                                       <%= form.submit "Update Product",class: 'btn btn-block btn-success', style: "font-weight:bold;font-family: 'Merriweather', serif;" %>
                                       <br><br>
                                       <%= link_to "Back", admin_products_path,class: 'btn btn-block btn-info', style: "font-weight:bold;font-family: 'Merriweather', serif; background-color:#229954;border-color:#229954;" %>
                                     </center>
                                   </div>
                                   <div class="col-md-5"></div>
                                 </div>
                               </div>
                           <% end %>
                    </center>
                </div>
            </div>
          </div>

      </div>
    </div>
  </div>

  <!-- *************************** Start Script for Uploading Image in Post ************************* -->
  <script>
  	$(document).ready(function() {
  		$("#post-upload").on('change', function() {
  			//Get count of selected files
  			var countFiles = $(this)[0].files.length;
  			var imgPath = $(this)[0].value;
  			var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
  			var image_holder = $("#postImage-holder");
  			image_holder.empty();
  			if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
  				if (typeof(FileReader) != "undefined") {
  					//loop for each file selected for uploaded.
  					for (var i = 0; i < countFiles; i++)
  					{
  						var reader = new FileReader();
  						reader.onload = function(e) {
  							$('#postimg').attr('src', e.target.result);
                $('#team_image').attr('src', e.target.result);
  						}
  						image_holder.show();
  						reader.readAsDataURL($(this)[0].files[i]);
  					}
  				} else {
  					alert("This browser does not support FileReader.");
  				}
  			}else {
  				alert("Please select only images");
  			}
  		});
  	});
  </script>
  <!-- *************************** End Script for Uploading Image in Post ************************* -->
