<% content_for :title, "Update Member Profile | SOS Bracelets" %>
<div class="container-fluid" style="padding-top: 37px;">
  <div class="row">
    <div class="col-md-12 no-pad-xs">
      <div class="row login_signup_heading" style="padding:0px;margin:0px;">
        <div class="col-md-12">
          <center><h3 class="heading_text">Update Your Member Profile</h3></center>
        </div>
      </div>

      <% if @profile.addresses.count < 1 %>
        <%= render :partial => 'addresses/addaddress' %>
      <% else %>
        <%= render :partial => 'addresses/updateaddress' %>
      <% end %>

      <%= render :partial => 'contacts/addupdatecontacts' %>
      <%= render :partial => 'medical_conditions/addupdatemedicalcondition' %>
      <%= render :partial => 'allergies/addupdateallergy' %>
      <%= render :partial => 'medications/addupdatemedication' %>
      <%= render :partial => 'specials/addupdatespecial' %>


      <div class="jumbotron" style="padding-bottom:1em; background-color: rgba(255,255,255,0.9); border-radius:0 0 1em 1em;">
        <div class="row">
          <div class="col-md-12">
            <center>

              <%= form_for :profile, url: user_profile_path(:id => @profile.id), method: :PATCH, :html => {multipart: true, class: "form-horizontal center"} do |f| %>
                <div class="row">
                  <center>
                    <div class="container">
                      <div class="modal fade" id="addPhoto">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <!-- Header -->
                            <div class="modal-header" style="background: #2DBF7F;">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <center><h4 class="heading_text">Choose Avatar</h4></center>
                            </div>
                            <!-- Body (form) -->
                            <div class="modal-body">
                              <div class="form-group">
                                <div class="row">
                                  <div class="col-md-12">
                                    <center>
                                      <%= image_tag(@profile.avatar.url(:medium), {id: "postimg", style: "width:250px;height:250px;",class: "img-thumbnail img-circle",alt: "User Profile Image"}) %>
                                      <h4 class="heading_text" style="font-style: italic;color:#2DBF7F;font-weight:normal;">Preview</h4>
                                      <div class="row">
                                        <center>
                                          <%= f.file_field :avatar, id:"post-upload",class: "btn btn-info" %>
                                          <button type="button" class="btn btn-success" data-dismiss="modal" style="margin-top:1em;">Save</button>
                                        </center>
                                      </div>
                                    </center>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <center><button type="button" class="btn btn-danger" data-dismiss="modal" style="color:#C0392B;">Close</button></center>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </center>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-md-3">
                    <div class="form-group">
                      <center>
                        <%= image_tag(@profile.avatar.url(:medium), {id: "team_image",  style: "margin-top: -0.3em;width:220px;height:220px;",class: "img-responsive img-thumbnail img-circle",alt: "User Profile Image"}) %>
                        <br>
                        <input style="width:50%;" data-toggle="modal" data-target="#addPhoto" class="btn btn-block btn-info" type="button" value="Change Avatar">
                      </center>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-9">
                    <div class="row">
                      <div class="form-group">
                        <label class="profile_name"><%= @profile.firstname%> <%= @profile.lastname%></label>
                      </div>
                    </div>
                    <div class="row" style="margin-top:0.5em;">
                      <div class="form-group">
                        <% if @profile.gender != nil %>
                          <label class="profile_data"><%= @profile.gender%></label>
                        <%end%>
                        <% if @profile.addresses.count > 0 %>
                          <label class="profile_data">from <%= @profile.addresses[0].city%> <%= @profile.addresses[0].state%></label>
                        <%end%>
                      </div>
                    </div>
                    <div class="row" style="margin-top:0.5em;">
                      <div class="form-group">
                        <%= label_tag :profile_of, "Member of Team",class: "profile_data", style: "color:#424949;" %>
                        <% if @profile.team_profile == nil  %>
                              <%= label_tag :firstname, "No Team assigned to this profile" ,class: "profile_data", style:"color:#82E0AA; margin-right: 0.3em;" %>
                        <% else %>
                              <%= label_tag :firstname, @profile.team_profile.name,class: "profile_data", style:"color:#82E0AA; margin-right: 0.3em;" %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-12">

                    <div class="row">
                      <div class="col-md-3" style="background-color:#229954;color:#F0F0F0;">
                        <div class="btn-group">
                            <h5 class="btn" style="font-family: 'Merriweather', serif;margin:0px 0px 0px 0px;padding-top:15px;text-align:center;float:left;font-size: 1.2em;border-color: #229954; border-radius:0px 0px 0px 0px;color:#F0F0F0;">Personal Detail</h5>
                        </div>
                      </div>
                      <div class="col-md-9">
                      </div>
                    </div>

                    <div class="row jumbotron" style="border-top-left-radius: 0px;border-top-right-radius: 0px;padding:20px 0px 20px 0px;">
                      <div class="col-md-12">
                        <% if @profile.errors.any? %>
                          <div class="form-group alert alert-error alert-block" id="error_explanation">
                            <button type="button" class="close" data-dismiss="alert">x</button>
                            <h5 class="heading_error"><%= pluralize(@profile.errors.count, "error") %> prohibited this MEMBER PROFILE from being update:</h5>
                            <% @profile.errors.full_messages.each do |msg| %>
                                <h6 class="heading_error"><%= msg%></h6>
                            <% end %>
                          </div>
                        <%end%>
                      </div>

                      <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                          <div class="col-md-4">
                            <%= f.label :firstname, "First Name", class:"profile_label", style: "margin-top:0.5em;" %>
                          </div>
                          <div class="col-md-8">
                            <%= f.text_field :firstname, autofocus: true, placeholder: 'Enter First Name', class: 'form-control my_text_field', style:"color: #1E8449;",required: true%>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-4">
                            <%= f.label :lastname, "Last Name", class:"profile_label", style: "margin-top:0.5em;" %>
                          </div>
                          <div class="col-md-8">
                            <%= f.text_field :lastname, autofocus: true, placeholder: 'Enter Last Name', class: 'form-control my_text_field', style:"color: #1E8449;",required: true%>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="col-md-4">
                            <%= f.label :eye, "Eye Color", class:"profile_label", style: "margin-top:0.5em;" %>
                          </div>
                          <div class="col-md-8">
                            <%= f.collection_select :eye, Eye.all, :name, :name, {prompt: "Select Eye Color"}, {class: 'form-control my_text_field', style:"color: #1E8449;"} %>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="col-md-4">
                            <%= f.label :phone, "Phone", class:"profile_label", style: "margin-top:0.5em;" %>
                          </div>
                          <div class="col-md-8">
                            <div class="row">
                              <div class="col-xs-12 col-md-6" style="padding-right:0px;padding-left:0px;">
                                <%= f.country_select :country, {prompt: "Select Country"}, {class: "form-control my_text_field", style:"color: #1E8449;", required: true} %>
                              </div>
                              <div class="col-xs-12 col-md-6"  style="padding-right:0px;padding-left:0px; ">
                                <%= f.number_field :phone, autofocus: true, placeholder: 'Enter Phone Number', class: 'form-control my_text_field', style:"color: #1E8449;", required: true%>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                          <div class="col-md-4">
                            <%= f.label :gender, "Gender", class:"profile_label", style: "margin-top:0.5em;" %>
                          </div>
                          <div class="col-md-8">
                            <%= f.collection_select :gender, Gender.all, :name, :name, {prompt: "Select Gender"}, {class: 'form-control my_text_field', style:"color: #1E8449;"} %>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-4">
                            <%= f.label :blood, "Blood Group", class:"profile_label", style: "margin-top:0.5em;" %>
                          </div>
                          <div class="col-md-8">
                            <%= f.collection_select :blood, Blood.all, :name, :name, {prompt: "Select Blood Group"}, {class: 'form-control my_text_field', style:"color: #1E8449;"} %>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-4">
                            <%= f.label :height, "Height (feet)", class:"profile_label", style: "margin-top:0.5em;" %>
                          </div>
                          <div class="col-md-8">
                            <%= f.collection_select :height, Height.all, :name, :name, {prompt: "Select Height"}, {class: 'form-control my_text_field', style:"color: #1E8449;"} %>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                          <div class="col-md-4">
                            <%= f.label :weight, "Weight (lb)", class:"profile_label", style: "margin-top:0.5em;" %>
                          </div>
                          <div class="col-md-8">
                            <%= f.number_field :weight, autofocus: true, placeholder: 'Enter Weight in lb', class: 'form-control my_text_field', style:"color: #1E8449;" %>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-4">
                            <%= f.label :hair, "Hair Color", class:"profile_label", style: "margin-top:0.5em;" %>
                          </div>
                          <div class="col-md-8">
                            <%= f.collection_select :hair, Hair.all, :name, :name, {prompt: "Select Hair Color"}, {class: 'form-control my_text_field', style:"color: #1E8449;"} %>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-4">
                            <%= f.label :dob, "Date of Birth", class:"profile_label", style: "margin-top:0.5em;" %>
                          </div>
                          <div class="col-md-8">
                            <%= f.date_select :dob,  {start_year:1950, prompt: true}, {class: "form-control my_text_field", style:"color: #1E8449;display:inline-block;width:32%;"} %>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="col-md-5"></div>
                        <div class="col-md-2">
                          <center><%= f.submit "Save",class: 'btn btn-block btn-success', style: "font-weight:bold;font-family: 'Merriweather', serif;" %></center>
                        </div>
                        <div class="col-md-5"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <%end%>

                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-3" style="background-color:#229954;color:#F0F0F0;">
                        <div class="btn-group">
                            <h5 class="btn" style="font-family: 'Merriweather', serif;margin:0px 0px 0px 0px;padding-top:15px;text-align:center;float:left;font-size: 1.2em;border-color: #229954; border-radius:0px 0px 0px 0px;color:#F0F0F0;">Address</h5>
                            <% if @profile.addresses.count < 1 %>
                              <a href="#" data-toggle="modal" data-target="#addAddress" class="add_detail btn" style="margin:0px -95px 0px 0px;border-radius:0px;font-size:2em;text-align:right;float:right;font-weight:bold;">+</a>
                            <% end %>
                        </div>
                      </div>
                      <div class="col-md-9">
                      </div>
                    </div>
                    <div class="row jumbotron" style="border-top-left-radius: 0px;border-top-right-radius: 0px;padding:0px;">
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead class="th_bg supervisor_thead">
                            <tr>
                              <th scope="col"><center> Address Line 1 </center></th>
                              <th scope="col"><center> Address Line 2 </center></th>
                              <th scope="col"><center> City </center></th>
                              <th scope="col"><center> State </center></th>
                              <th scope="col"><center> Country </center></th>
                              <th scope="col"><center> Edit </center></th>
                              <th scope="col"><center> Delete </center></th>
                            </tr>
                          </thead>
                          <tbody>
                            <% if @profile.addresses.count > 0 %>
                              <% @address = @profile.addresses[0] %>
                              <% if @address != nil %>
                                <div class="container-fluid">
                                  <div class="modal fade" id="deleteAddress">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <!-- Header -->
                                        <div class="modal-header" style="background: #2DBF7F;">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <center><h4 class="heading_text">Are You Sure to Delete this Address?</h4></center>
                                        </div>
                                        <!-- Body (form) -->
                                        <div class="modal-body">
                                          <div class="form-group">
                                            <div class="row">
                                              <div class="col-md-12">
                                                <center>
                                                  <div class="row">
                                                    <center>
                                                      <%= link_to 'Yes', address_path(:id => @address.id), method: :delete, class: 'btn btn-large btn-info', style: "font-weight:bold;font-family: 'Merriweather', serif; background-color:#CB4335;border-color:#CB4335;margin-top:1em;" %>
                                                      <button type="button" class="btn btn-success" data-dismiss="modal" style="margin-top:1em;">Close</button>
                                                    </center>
                                                  </div>
                                                </center>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <tr>
                                  <td><%= label_tag :line1, @address.line1, {class: "form-control my_text_field", style:"color: #1E8449;height: auto;"} %></td>
                                  <td><%= label_tag :line2, @address.line2, {class: "form-control my_text_field", style:"color: #1E8449;height: auto;"} %></td>
                                  <td><%= label_tag :city, @address.city, {class: "form-control my_text_field", style:"color: #1E8449;height: auto;"} %></td>
                                  <td><%= label_tag :state, @address.state, {class: "form-control my_text_field", style:"color: #1E8449;height: auto;"} %></td>
                                  <td><%= label_tag :country, @address.country, {class: "form-control my_text_field", style:"color: #1E8449;height: auto;"} %></td>
                                  <td><button id="editAddress" data-toggle="modal" data-target="#updateAddress" data-aid="<%= @address.id%>" data-line1="<%= @address.line1%>" data-line2="<%= @address.line2%>" data-city="<%= @address.city%>" data-state="<%= @address.state%>" data-acountry="<%= @address.country%>" class='btn btn-block btn-info' style="border-radius: 0 0 0 0;font-weight:bold;font-family: 'Merriweather', serif;background-color:#229954;border-color:#229954;">Edit</button></td>
                                  <td><button data-toggle="modal" data-target="#deleteAddress" class='btn btn-block btn-danger' style="border-radius: 0 0 0 0;font-weight:bold;font-family: 'Merriweather', serif;background-color:#CB4335;border-color:#CB4335;color:#F0F0F0;">Delete</button></td>
                                </tr>
                              <% end %>
                            <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-3" style="background-color:#229954;color:#F0F0F0;">
                        <div class="btn-group">
                            <h5 class="btn" style="font-family: 'Merriweather', serif;margin:0px 0px 0px 0px;padding-top:15px;text-align:center;float:left;font-size: 1.2em;border-color: #229954; border-radius:0px 0px 0px 0px;color:#F0F0F0;">Emergency Contacts</h5>
                            <% if @profile.contacts.count < 2%>
                              <a href="#" data-toggle="modal" data-target="#addContact" class="add_detail btn" style="margin:0px -90px 0px 0px;border-radius:0px;font-size:2em;text-align:right;float:right;font-weight:bold;">+</a>
                            <% end %>
                        </div>
                      </div>
                      <div class="col-md-9">
                      </div>
                    </div>
                    <div class="row jumbotron" style="border-top-left-radius: 0px;border-top-right-radius: 0px;padding:0px;">
                      <div class="table-responsive">
                        <% @contacts = @profile.contacts %>
                        <table class="table table-bordered">
                          <thead class="th_bg supervisor_thead">
                            <tr>
                              <th scope="col"><center> Name </center></th>
                              <th scope="col"><center> Number </center></th>
                              <th scope="col"><center> Relation </center></th>
                              <th scope="col"><center> Email </center></th>
                              <th scope="col"><center> Edit </center></th>
                              <th scope="col"><center> Delete </center></th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @contacts.each do |c|%>
                              <div class="container-fluid">
                                <div class="modal fade" id="deleteContact<%= c.id%>">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <!-- Header -->
                                      <div class="modal-header" style="background: #2DBF7F;">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <center><h4 class="heading_text">Are You Sure to Delete this Emergency Contact?</h4></center>
                                      </div>
                                      <!-- Body (form) -->
                                      <div class="modal-body">
                                        <div class="form-group">
                                          <div class="row">
                                            <div class="col-md-12">
                                              <center>
                                                <div class="row">
                                                  <center>
                                                    <%= link_to 'Yes', contact_path(:id => c.id), method: :delete, class: 'btn btn-large btn-info', style: "font-weight:bold;font-family: 'Merriweather', serif; background-color:#CB4335;border-color:#CB4335;margin-top:1em;" %>
                                                    <button type="button" class="btn btn-success" data-dismiss="modal" style="margin-top:1em;">Close</button>
                                                  </center>
                                                </div>
                                              </center>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <tr>
                                <td><%= label_tag :name, c.name, {class: "form-control my_text_field", style:"color: #1E8449;height: auto;"} %></td>
                                <td><%= label_tag :number, c.number, {class: "form-control my_text_field", style:"color: #1E8449;height: auto;"} %></td>
                                <td><%= label_tag :relation, c.relation, {class: "form-control my_text_field", style:"color: #1E8449;height: auto;"} %></td>
                                <td><%= label_tag :email, c.email, {class: "form-control my_text_field", style:"color: #1E8449;height: auto;"} %></td>
                                <td><button id="editContact" data-toggle="modal" data-target="#updateContact" data-id="<%= c.id%>" data-name="<%= c.name%>" data-code="<%= c.code%>" data-country="<%= c.country%>" data-number="<%= c.number%>" data-relation="<%= c.relation%>" data-email="<%= c.email%>"  class='btn btn-block btn-info' style="border-radius: 0 0 0 0;font-weight:bold;font-family: 'Merriweather', serif;background-color:#229954;border-color:#229954;">Edit</button></td>
                                <td><button data-toggle="modal" data-target="#deleteContact<%= c.id%>" class='btn btn-block btn-danger' style="border-radius: 0 0 0 0;font-weight:bold;font-family: 'Merriweather', serif;background-color:#CB4335;border-color:#CB4335;color:#F0F0F0;">Delete</button></td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-3" style="background-color:#229954;color:#F0F0F0;">
                        <div class="btn-group">
                            <h5 class="btn" style="font-family: 'Merriweather', serif;margin:0px 0px 0px 0px;padding-top:15px;text-align:center;float:left;font-size: 1.2em;border-color: #229954; border-radius:0px 0px 0px 0px;color:#F0F0F0;">Medical Condition</h5>
                            <a href="#" data-toggle="modal" data-target="#addMedicalCondition" class="add_detail btn" style="margin:0px -90px 0px 0px;border-radius:0px;font-size:2em;text-align:right;float:right;font-weight:bold;">+</a>
                        </div>
                      </div>
                      <div class="col-md-9">
                      </div>
                    </div>
                    <div class="row jumbotron" style="border-top-left-radius: 0px;border-top-right-radius: 0px;padding:0px;">
                      <div class="table-responsive">
                        <% @conditions = @profile.medical_conditions %>
                        <table class="table table-bordered">
                          <thead class="th_bg supervisor_thead">
                            <tr>
                              <th scope="col"><center> Medical Condition </center></th>
                              <th scope="col"><center> Notes </center></th>
                              <th scope="col"><center> Edit </center></th>
                              <th scope="col"><center> Delete </center></th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @conditions.each do |c|%>
                              <div class="container-fluid">
                                <div class="modal fade" id="deleteConditon<%= c.id%>">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <!-- Header -->
                                      <div class="modal-header" style="background: #2DBF7F;">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <center><h4 class="heading_text">Are You Sure to Delete this Medical Condition?</h4></center>
                                      </div>
                                      <!-- Body (form) -->
                                      <div class="modal-body">
                                        <div class="form-group">
                                          <div class="row">
                                            <div class="col-md-12">
                                              <center>
                                                <div class="row">
                                                  <center>
                                                    <%= link_to 'Yes', medical_condition_path(:id => c.id), method: :delete, class: 'btn btn-large btn-info', style: "font-weight:bold;font-family: 'Merriweather', serif; background-color:#CB4335;border-color:#CB4335;margin-top:1em;" %>
                                                    <button type="button" class="btn btn-success" data-dismiss="modal" style="margin-top:1em;">Close</button>
                                                  </center>
                                                </div>
                                              </center>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <tr>
                                <td><%= label_tag :name, c.condition, {class: "form-control my_text_field", style:"color: #1E8449;height: auto;"} %></td>
                                <td><%= label_tag :note, c.note, {class: "form-control my_text_field", style:"color: #1E8449;height:auto;"} %></td>
                                <td><button id="editCondition" data-toggle="modal" data-target="#updateCondition" data-id="<%= c.id%>" data-condition="<%= c.condition%>" data-note="<%= c.note%>" class='btn btn-block btn-info' style="border-radius: 0 0 0 0;font-weight:bold;font-family: 'Merriweather', serif;background-color:#229954;border-color:#229954;">Edit</button></td>
                                <td><button data-toggle="modal" data-target="#deleteConditon<%= c.id%>" class='btn btn-block btn-danger' style="border-radius: 0 0 0 0;font-weight:bold;font-family: 'Merriweather', serif;background-color:#CB4335;border-color:#CB4335;color:#F0F0F0;">Delete</button></td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-3" style="background-color:#229954;color:#F0F0F0;">
                        <div class="btn-group">
                            <h5 class="btn" style="font-family: 'Merriweather', serif;margin:0px 0px 0px 0px;padding-top:15px;text-align:center;float:left;font-size: 1.2em;border-color: #229954; border-radius:0px 0px 0px 0px;color:#F0F0F0;">Allergies</h5>
                            <a href="#" data-toggle="modal" data-target="#addAllergy" class="add_detail btn" style="margin:0px -90px 0px 0px;border-radius:0px;font-size:2em;text-align:right;float:right;font-weight:bold;">+</a>
                        </div>
                      </div>
                      <div class="col-md-9">
                      </div>
                    </div>
                    <div class="row jumbotron" style="border-top-left-radius: 0px;border-top-right-radius: 0px;padding:0px;">
                      <div class="table-responsive">
                        <% @allergies = @profile.allergies %>
                        <table class="table table-bordered">
                          <thead class="th_bg supervisor_thead">
                            <tr>
                              <th scope="col"><center> Allergy Name </center></th>
                              <th scope="col"><center> Notes </center></th>
                              <th scope="col"><center> Edit </center></th>
                              <th scope="col"><center> Delete </center></th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @allergies.each do |a|%>
                              <div class="container-fluid">
                                <div class="modal fade" id="deleteAllergy<%= a.id%>">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <!-- Header -->
                                      <div class="modal-header" style="background: #2DBF7F;">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <center><h4 class="heading_text">Are You Sure to Delete this Allergy?</h4></center>
                                      </div>
                                      <!-- Body (form) -->
                                      <div class="modal-body">
                                        <div class="form-group">
                                          <div class="row">
                                            <div class="col-md-12">
                                              <center>
                                                <div class="row">
                                                  <center>
                                                    <%= link_to 'Yes', allergy_path(:id => a.id), method: :delete, class: 'btn btn-large btn-info', style: "font-weight:bold;font-family: 'Merriweather', serif; background-color:#CB4335;border-color:#CB4335;margin-top:1em;" %>
                                                    <button type="button" class="btn btn-success" data-dismiss="modal" style="margin-top:1em;">Close</button>
                                                  </center>
                                                </div>
                                              </center>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <tr>
                                <td><%= label_tag :name, a.name, {class: "form-control my_text_field", style:"color: #1E8449;height: auto;"} %></td>
                                <td><%= label_tag :note, a.note, {class: "form-control my_text_field", style:"color: #1E8449;height:auto;"} %></td>
                                <td><button id="editAllergy" data-toggle="modal" data-target="#updateAllergy" data-alid="<%= a.id%>" data-alname="<%= a.name%>" data-alnote="<%= a.note%>" class='btn btn-block btn-info' style="border-radius: 0 0 0 0;font-weight:bold;font-family: 'Merriweather', serif;background-color:#229954;border-color:#229954;">Edit</button></td>
                                <td><button data-toggle="modal" data-target="#deleteAllergy<%= a.id%>" class='btn btn-block btn-danger' style="border-radius: 0 0 0 0;font-weight:bold;font-family: 'Merriweather', serif;background-color:#CB4335;border-color:#CB4335;color:#F0F0F0;">Delete</button></td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-3" style="background-color:#229954;color:#F0F0F0;">
                        <div class="btn-group">
                            <h5 class="btn" style="font-family: 'Merriweather', serif;margin:0px 0px 0px 0px;padding-top:15px;text-align:center;float:left;font-size: 1.2em;border-color: #229954; border-radius:0px 0px 0px 0px;color:#F0F0F0;">Medication</h5>
                            <a href="#" data-toggle="modal" data-target="#addMedication" class="add_detail btn" style="margin:0px -90px 0px 0px;border-radius:0px;font-size:2em;text-align:right;float:right;font-weight:bold;">+</a>
                        </div>
                      </div>
                      <div class="col-md-9">
                      </div>
                    </div>
                    <div class="row jumbotron" style="border-top-left-radius: 0px;border-top-right-radius: 0px;padding:0px;">
                      <div class="table-responsive">
                        <% @medications = @profile.medications %>
                        <table class="table table-bordered">
                          <thead class="th_bg supervisor_thead">
                            <tr>
                              <th scope="col"><center> Medication Name </center></th>
                              <th scope="col"><center> Dosage </center></th>
                              <th scope="col"><center> Frequency </center></th>
                              <th scope="col"><center> Notes </center></th>
                              <th scope="col"><center> Edit </center></th>
                              <th scope="col"><center> Delete </center></th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @medications.each do |m|%>
                              <div class="container-fluid">
                                <div class="modal fade" id="deleteMedication<%= m.id%>">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <!-- Header -->
                                      <div class="modal-header" style="background: #2DBF7F;">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <center><h4 class="heading_text">Are You Sure to Delete this Medication?</h4></center>
                                      </div>
                                      <!-- Body (form) -->
                                      <div class="modal-body">
                                        <div class="form-group">
                                          <div class="row">
                                            <div class="col-md-12">
                                              <center>
                                                <div class="row">
                                                  <center>
                                                    <%= link_to 'Yes', medication_path(:id => m.id), method: :delete, class: 'btn btn-large btn-info', style: "font-weight:bold;font-family: 'Merriweather', serif; background-color:#CB4335;border-color:#CB4335;margin-top:1em;" %>
                                                    <button type="button" class="btn btn-success" data-dismiss="modal" style="margin-top:1em;">Close</button>
                                                  </center>
                                                </div>
                                              </center>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <tr>
                                <td><%= label_tag :name, m.name, {class: "form-control my_text_field", style:"color: #1E8449;height: auto;"} %></td>
                                <td><%= label_tag :name, m.dosage, {class: "form-control my_text_field", style:"color: #1E8449;height: auto;"} %></td>
                                <td><%= label_tag :name, m.frequency, {class: "form-control my_text_field", style:"color: #1E8449;height: auto;"} %></td>
                                <td><%= label_tag :note, m.notes, {class: "form-control my_text_field", style:"color: #1E8449;height:auto;"} %></td>
                                <td><button id="editMedication" data-toggle="modal" data-target="#updateMedication" data-mid="<%= m.id%>" data-mname="<%= m.name%>" data-mdosage="<%= m.dosage%>" data-mfrequency="<%= m.frequency%>" data-mnotes="<%= m.notes%>" class='btn btn-block btn-info' style="border-radius: 0 0 0 0;font-weight:bold;font-family: 'Merriweather', serif;background-color:#229954;border-color:#229954;">Edit</button></td>
                                <td><button data-toggle="modal" data-target="#deleteMedication<%= m.id%>" class='btn btn-block btn-danger' style="border-radius: 0 0 0 0;font-weight:bold;font-family: 'Merriweather', serif;background-color:#CB4335;border-color:#CB4335;color:#F0F0F0;">Delete</button></td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-3" style="background-color:#229954;color:#F0F0F0;">
                        <div class="btn-group">
                            <h5 class="btn" style="font-family: 'Merriweather', serif;margin:0px 0px 0px 0px;padding-top:15px;text-align:center;float:left;font-size: 1.2em;border-color: #229954; border-radius:0px 0px 0px 0px;color:#F0F0F0;">Special Instructions</h5>
                            <a href="#" data-toggle="modal" data-target="#addSpecialInstructions" class="add_detail btn" style="margin:0px -90px 0px 0px;border-radius:0px;font-size:2em;text-align:right;float:right;font-weight:bold;">+</a>
                        </div>
                      </div>
                      <div class="col-md-9">
                      </div>
                    </div>
                    <div class="row jumbotron" style="border-top-left-radius: 0px;border-top-right-radius: 0px;padding:0px;">
                      <div class="table-responsive">
                        <% @specials = @profile.specials %>
                        <table class="table table-bordered">
                          <thead class="th_bg supervisor_thead">
                            <tr>
                              <th scope="col"><center> Special Instructions </center></th>
                              <th scope="col"><center> Notes </center></th>
                              <th scope="col"><center> Edit </center></th>
                              <th scope="col"><center> Delete </center></th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @specials.each do |s|%>
                              <div class="container-fluid">
                                <div class="modal fade" id="deleteSpecial<%= s.id%>">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <!-- Header -->
                                      <div class="modal-header" style="background: #2DBF7F;">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <center><h4 class="heading_text">Are You Sure to Delete this Special Instruction?</h4></center>
                                      </div>
                                      <!-- Body (form) -->
                                      <div class="modal-body">
                                        <div class="form-group">
                                          <div class="row">
                                            <div class="col-md-12">
                                              <center>
                                                <div class="row">
                                                  <center>
                                                    <%= link_to 'Yes', special_path(:id => s.id), method: :delete, class: 'btn btn-large btn-info', style: "font-weight:bold;font-family: 'Merriweather', serif; background-color:#CB4335;border-color:#CB4335;margin-top:1em;" %>
                                                    <button type="button" class="btn btn-success" data-dismiss="modal" style="margin-top:1em;">Close</button>
                                                  </center>
                                                </div>
                                              </center>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <tr>
                                <td><%= label_tag :name, s.name, {class: "form-control my_text_field", style:"color: #1E8449;height: auto;"} %></td>
                                <td><%= label_tag :notes, s.notes, {class: "form-control my_text_field", style:"color: #1E8449;height:auto;"} %></td>
                                <td><button id="editSpecial" data-toggle="modal" data-target="#updateSpecialInstructions" data-sid="<%= s.id%>" data-sname="<%= s.name%>" data-snote="<%= s.notes%>" class='btn btn-block btn-info' style="border-radius: 0 0 0 0;font-weight:bold;font-family: 'Merriweather', serif;background-color:#229954;border-color:#229954;">Edit</button></td>
                                <td><button data-toggle="modal" data-target="#deleteSpecial<%= s.id%>" class='btn btn-block btn-danger' style="border-radius: 0 0 0 0;font-weight:bold;font-family: 'Merriweather', serif;background-color:#CB4335;border-color:#CB4335;color:#F0F0F0;">Delete</button></td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="form-group">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                      <center>
                        <%= link_to "Back", user_profiles_path,class: 'btn btn-block btn-info', style: "font-weight:bold;font-family: 'Merriweather', serif; background-color:#229954;border-color:#229954;" %>
                      </center>
                    </div>
                    <div class="col-md-5"></div>
                  </div>
                </div>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- *************************** Start Script for Uploading Image in Post ************************* -->
<script>
	$(document).ready(function() {
		$("#post-upload").on('change', function() {
			//Get count of selected files
			var countFiles = $(this)[0].files.length;
			var imgPath = $(this)[0].value;
			var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
			var image_holder = $("#postImage-holder");
			image_holder.empty();
			if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
				if (typeof(FileReader) != "undefined") {
					//loop for each file selected for uploaded.
					for (var i = 0; i < countFiles; i++)
					{
						var reader = new FileReader();
						reader.onload = function(e) {
							$('#postimg').attr('src', e.target.result);
              $('#team_image').attr('src', e.target.result);
						}
						image_holder.show();
						reader.readAsDataURL($(this)[0].files[i]);
					}
				} else {
					alert("This browser does not support FileReader.");
				}
			}else {
				alert("Please select only images");
			}
		});
	});
</script>
<!-- *************************** End Script for Uploading Image in Post ************************* -->
