<% content_for :title, "Make Member Profile | SOS Bracelets" %>
<div class="container-fluid" style="padding-top: 37px;">
  <div class="row">
    <div class="col-md-12 no-pad-xs">
      <div class="row login_signup_heading" style="padding:0px;margin:0px;">
        <div class="col-md-12">
          <center><h3 class="heading_text">Create Your Profile</h3></center>
        </div>
      </div>
      <div class="jumbotron" style="padding-bottom:1em; background-color: rgba(255,255,255,0.9); border-radius:0 0 1em 1em;">
        <div class="row">
          <div class="col-md-12">
            <center>
              <%= form_for :profile, url: user_profiles_path(id: @team_profile.id, invitation_id: @invitation.id), :html => {multipart: true, class: "form-horizontal center"} do |f| %>
                <% if @profile.errors.any? %>
                  <div class="form-group alert alert-error alert-block" id="error_explanation">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <h5 class="heading_error"><%= pluralize(@profile.errors.count, "error") %> prohibited this PROFILE from being saved:</h5>
                    <% @profile.errors.full_messages.each do |msg| %>
                        <h6 class="heading_error"><%= msg%></h6>
                    <% end %>
                  </div>
                <%end%>
                <div class="row">
                  <center>
                    <div class="container">
                      <div class="modal fade" id="addPhoto">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <!-- Header -->
                            <div class="modal-header" style="background: #2DBF7F;">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <center><h4 class="heading_text">Choose Avatar</h4></center>
                            </div>
                            <!-- Body (form) -->
                            <div class="modal-body">
                              <div class="form-group">
                                <div class="row">
                                  <div class="col-md-12">
                                    <center>
                                      <%= image_tag("user.png", {id: "postimg", style: "width:250px;height:250px;",class: "img-thumbnail img-circle",alt: "User Profile Image"}) %>
                                      <h4 class="heading_text" style="font-style: italic;color:#2DBF7F;font-weight:normal;">Preview</h4>
                                      <div class="row">
                                        <center>
                                          <%= f.file_field :avatar, id:"post-upload",class: "btn btn-info" %>
                                          <button type="button" class="btn btn-success" data-dismiss="modal" style="margin-top:1em;">Save</button>
                                        </center>
                                      </div>
                                    </center>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <center><button type="button" class="btn btn-danger" data-dismiss="modal" style="color:#C0392B;">Close</button></center>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </center>
                </div>


                <div class="row">
                  <div class="col-xs-12 col-md-3">
                    <div class="form-group">
                      <center>
                        <%= image_tag("user.png", {id: "team_image",  style: "width:220px;height:220px;",class: "img-responsive img-thumbnail img-circle",alt: "User Profile Image"}) %>
                        <br>
                        <input data-toggle="modal" data-target="#addPhoto" class="btn btn-block btn-info" type="button" value="Add Avatar" style="width: 50%;">
                      </center>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-9">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-3" style="background-color:#229954;color:#F0F0F0;">
                            <div class="btn-group">
                                <h5 class="btn" style="font-family: 'Merriweather', serif;margin:0px 0px 0px 0px;padding-top:15px;text-align:center;float:left;font-size: 1.2em;border-color: #229954; border-radius:0px 0px 0px 0px;color:#F0F0F0;">Personal Detail</h5>
                            </div>
                          </div>
                          <div class="col-md-9">
                          </div>
                        </div>
                        <div class="row jumbotron" style="border-top-left-radius: 0px;border-top-right-radius: 0px;padding:20px 0px 20px 0px;">

                          <div class="col-xs-12 col-md-6">

                            <div class="form-group">
                              <div class="col-md-4">
                                <%= f.label :firstname, "First Name", class:"profile_label", style: "margin-top:0.5em;" %>
                              </div>
                              <div class="col-md-8">
                                <%= f.text_field :firstname, autofocus: true, placeholder: 'Enter First Name', class: 'form-control my_text_field', style:"color: #1E8449;",required: true%>
                                <h4 id="leader_first_name" class="detail_error">First Name is Required</h4>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="col-md-4">
                                <%= f.label :lastname, "Last Name", class:"profile_label", style: "margin-top:0.5em;" %>
                              </div>
                              <div class="col-md-8">
                                <%= f.text_field :lastname, autofocus: true, placeholder: 'Enter Last Name', class: 'form-control my_text_field', style:"color: #1E8449;",required: true%>
                                <h4 id="leader_last_name" class="detail_error">Last Name is Required</h4>
                              </div>
                            </div>


                            <div class="form-group">
                              <div class="col-md-4">
                                <%= f.label :phone, "Phone", class:"profile_label", style: "margin-top:0.5em;" %>
                              </div>
                              <div class="col-md-8">
                                <div class="row">
                                  <div class="col-xs-12 col-md-6" style="padding-right:0px;padding-left:0px;">
                                    <%= f.country_select :country, {prompt: "Select Country"}, {class: "form-control my_text_field", style:"color: #1E8449;", required: true} %>
                                  </div>
                                  <div class="col-xs-12 col-md-6"  style="padding-right:0px;padding-left:0px; ">
                                    <%= f.number_field :phone, autofocus: true, placeholder: 'Enter Phone Number', class: 'form-control my_text_field', style:"color: #1E8449;", required: true%>
                                  </div>
                                </div>
                                <h4 id="leader_phone_error" class="detail_error">Phone Number is Required</h4>
                              </div>
                            </div>

                          </div>

                          <div class="col-xs-12 col-md-6">

                            <div class="form-group">
                              <div class="col-md-4">
                                <%= f.label :gender, "Gender", class:"profile_label", style: "margin-top:0.5em;" %>
                              </div>
                              <div class="col-md-8">
                                <%= f.text_field :gender, autofocus: true, placeholder: 'Enter Gender', class: 'form-control my_text_field', style:"color: #1E8449;",required: true%>
                                <h4 id="leader_gender_error" class="detail_error">Gender is Required</h4>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="col-md-4">
                                <%= f.label :dob, "Date of Birth", class:"profile_label", style: "margin-top:0.5em;" %>
                              </div>
                              <div class="col-md-8">
                                <%= f.date_select :dob,  {start_year:1950, prompt: true}, {class: "form-control my_text_field", style:"color: #1E8449;display:inline-block;width:32%;"} %>
                              </div>
                            </div>


                          </div>

                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-3" style="background-color:#229954;color:#F0F0F0;">
                        <div class="btn-group">
                            <h5 class="btn" style="font-family: 'Merriweather', serif;margin:0px 0px 0px 0px;padding-top:15px;text-align:center;float:left;font-size: 1.2em;border-color: #229954; border-radius:0px 0px 0px 0px;color:#F0F0F0;">Address</h5>
                        </div>
                      </div>
                      <div class="col-md-9">
                      </div>
                    </div>
                    <div class="row jumbotron" style="border-top-left-radius: 0px;border-top-right-radius: 0px;padding:0px 0px 20px 0px;">
                      <div class="col-md-12" style="margin-top:0.5em;">
                        <center>
                           <%= f.fields_for :address do |a| %>
                              <div class="row">

                                <div class="col-md-6">

                                  <div class="row" style="margin-top:0.5em;">
                                    <div class="col-md-4">
                                      <%= a.label :address_line1, "Line 1", class:"profile_label", style: "margin-top:0.5em;" %>
                                    </div>
                                    <div class="col-md-8">
                                      <%= a.text_field :line1, autofocus: true, placeholder: 'Enter Address Line 1', class: 'form-control my_text_field', style:"color: #1E8449;" %>
                                    </div>
                                  </div>
                                  <div class="row" style="margin-top:0.5em;">
                                    <div class="col-md-4">
                                      <%= a.label :line2, "Line 2", class:"profile_label", style: "margin-top:0.5em;" %>
                                    </div>
                                    <div class="col-md-8">
                                      <%= a.text_field :line2, autofocus: true, placeholder: 'Enter Address Line 2', class: 'form-control my_text_field', style:"color: #1E8449;" %>
                                    </div>
                                  </div>
                                  <div class="row" style="margin-top:0.5em;">
                                    <div class="col-md-4">
                                      <%= a.label :country, "Country", class:"profile_label", style: "margin-top:0.5em;" %>
                                    </div>
                                    <div class="col-md-8">
                                      <%= a.country_select :country,{prompt: "Select Country"}, {class:"form-control my_text_field",required: true, style:"color: #1E8449;"}%>
                                      <h4 id="leader_address_country_error" class="detail_error">Select a Country First</h4>
                                    </div>
                                  </div>

                                </div>

                                <div class="col-md-6">

                                  <div class="row" style="margin-top:0.5em;">
                                    <div class="col-md-4">
                                      <%= a.label :city, "City", class:"profile_label", style: "margin-top:0.5em;" %>
                                    </div>
                                    <div class="col-md-8">
                                      <%= a.text_field :city, autofocus: true, placeholder: 'Enter City', class: 'form-control my_text_field', style:"color: #1E8449;",required: true %>
                                      <h4 id="leader_address_city_error" class="detail_error">City is Required</h4>
                                    </div>
                                  </div>
                                  <div class="row" style="margin-top:0.5em;">
                                    <div class="col-md-4">
                                      <%= label_tag :state, "State", class:"profile_label", style: "margin-top:0.5em;" %>
                                    </div>
                                    <div class="col-md-8">
                                      <%= a.text_field :state, autofocus: true, placeholder: 'Enter State', class: 'form-control my_text_field', style:"color: #1E8449;",required: true %>
                                      <h4 id="leader_address_state_error" class="detail_error">State is Required</h4>
                                    </div>
                                  </div>

                                </div>

                              </div>
                            <% end %>
                        </center>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-3" style="background-color:#229954;color:#F0F0F0;">
                        <div class="btn-group">
                            <h5 class="btn" style="font-family: 'Merriweather', serif;margin:0px 0px 0px 0px;padding-top:15px;text-align:center;float:left;font-size: 1.2em;border-color: #229954; border-radius:0px 0px 0px 0px;color:#F0F0F0;">Emergency Contact</h5>
                        </div>
                      </div>
                      <div class="col-md-9">
                      </div>
                    </div>
                    <div class="row jumbotron" style="border-top-left-radius: 0px;border-top-right-radius: 0px;padding:0px 0px 20px 0px;">
                      <div class="col-md-12" style="margin-top:0.5em;">
                        <center>
                          <%= f.fields_for :contact do |c| %>
                            <div class="row">

                              <div class="col-md-6">
                                <div class="row"  style="margin-top: 0.5em;">
                                  <div class="col-md-4">
                                    <%= label_tag :contactname, "Contact Name", class:"profile_label", style: "margin-top:0.5em;" %>
                                  </div>
                                  <div class="col-md-8">
                                    <%= c.text_field :name, autofocus: true, placeholder: 'Enter Contact Name', class: 'form-control my_text_field', style:"color: #1E8449;",required: true %>
                                    <h4 id="leader_contact_name_error" class="detail_error">Contact Name is Required</h4>
                                  </div>
                                </div>
                                <div class="row" style="margin-top: 0.5em;">
                                  <div class="col-md-4">
                                    <%= label_tag :relation, "Relation", class:"profile_label", style: "margin-top:0.5em;" %>
                                  </div>
                                  <div class="col-md-8">
                                    <%= c.text_field :relation, autofocus: true, placeholder: 'Enter Relation', class: 'form-control my_text_field', style:"color: #1E8449;" %>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="row" style="margin-top: 0.5em;">
                                  <div class="col-md-4">
                                    <%= label_tag :contactname, "Contact Number", class:"profile_label", style: "margin-top:0.5em;" %>
                                  </div>
                                  <div class="col-md-8">
                                    <div class="row">
                                      <div class="col-xs-12 col-md-6" style="padding-right:0px;">
                                        <%= c.country_select :country,{prompt: "Select Country"}, {class:"form-control my_text_field",required: true, style:"color: #1E8449;"}%>
                                      </div>
                                      <div class="col-xs-12 col-md-6"  style="padding-left:0px;">
                                        <%= c.number_field :number, autofocus: true, placeholder: 'Enter Number', class: 'form-control my_text_field', style:"color: #1E8449;", required: true %>
                                      </div>
                                    </div>
                                    <h4 id="leader_contact_number_error" class="detail_error">Contact Number is Required</h4>
                                  </div>
                                </div>
                                <div class="row" style="margin-top: 0.5em;">
                                  <div class="col-md-4">
                                    <%= label_tag :email, "E-mail", class:"profile_label", style: "margin-top:0.5em;" %>
                                  </div>
                                  <div class="col-md-8">
                                    <%= c.email_field :email, autofocus: true, placeholder: 'Enter Email', class: 'form-control my_text_field', style:"color: #1E8449;" %>
                                  </div>
                                </div>
                              </div>

                            </div>
                          <% end %>
                        </center>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-3" style="background-color:#229954;color:#F0F0F0;">
                        <div class="btn-group">
                            <h5 class="btn" style="font-family: 'Merriweather', serif;margin:0px 0px 0px 0px;padding-top:15px;text-align:center;float:left;font-size: 1.2em;border-color: #229954; border-radius:0px 0px 0px 0px;color:#F0F0F0;">Medical Condition</h5>
                        </div>
                      </div>
                      <div class="col-md-9">
                      </div>
                    </div>
                    <div class="row jumbotron" style="border-top-left-radius: 0px;border-top-right-radius: 0px;padding:0px 0px 20px 0px;">
                      <div class="col-md-12" style="margin-top:0.5em;">
                        <center>
                          <%= f.fields_for :medical_condition do |mc| %>
                            <div class="row">

                              <div class="col-md-6">

                                <div class="row" style="margin-top: 0.5em;">
                                  <div class="col-md-4">
                                    <%= label_tag :condition, "Condition", class:"profile_label", style: "margin-top:0.5em;" %>
                                  </div>
                                  <div class="col-md-8">
                                    <%= mc.text_field :condition, autofocus: true, placeholder: 'Enter Medical Condition Name (Like Diabetes, High Blood Pressure etc)', class: 'form-control my_text_field', style:"color: #1E8449;", required: true %>
                                    <h4 id="leader_mc_name_error" class="detail_error">Medical Condition Name is Required</h4>
                                  </div>
                                </div>

                              </div>

                              <div class="col-md-6">

                                <div class="row" style="margin-top: 0.5em;">
                                  <div class="col-md-4">
                                    <%= label_tag :note, "Notes", class:"profile_label", style: "margin-top:0.5em;" %>
                                  </div>
                                  <div class="col-md-8">
                                    <%= mc.text_area :note, autofocus: true, placeholder: 'Enter Medical Condition Detail (Notes)', class: 'form-control my_text_field', style:"color: #1E8449;", size:"5x5"%>
                                  </div>
                                </div>

                              </div>

                            </div>
                            <%end%>
                        </center>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-3" style="background-color:#229954;color:#F0F0F0;">
                        <div class="btn-group">
                            <h5 class="btn" style="font-family: 'Merriweather', serif;margin:0px 0px 0px 0px;padding-top:15px;text-align:center;float:left;font-size: 1.2em;border-color: #229954; border-radius:0px 0px 0px 0px;color:#F0F0F0;">Allergies</h5>
                        </div>
                      </div>
                      <div class="col-md-9">
                      </div>
                    </div>
                    <div class="row jumbotron" style="border-top-left-radius: 0px;border-top-right-radius: 0px;padding:0px 0px 20px 0px;">
                      <div class="col-md-12" style="margin-top:0.5em;">
                        <center>
                          <%= f.fields_for :allergy do |al| %>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="row" style="margin-top: 0.5em;">
                                  <div class="col-md-4">
                                    <%= label_tag :aname, "Name", class:"profile_label", style: "margin-top:0.5em;" %>
                                  </div>
                                  <div class="col-md-8">
                                    <%= al.text_field :name, autofocus: true, placeholder: 'Enter Allergy Name (Like Gluten, Peanuts etc)', class: 'form-control my_text_field', style:"color: #1E8449;", required: true %>
                                    <h4 id="leader_allergy_name_error" class="detail_error">Allergy Name is Required</h4>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="row" style="margin-top: 0.5em;">
                                  <div class="col-md-4">
                                    <%= label_tag :note, "Notes", class:"profile_label", style: "margin-top:0.5em;" %>
                                  </div>
                                  <div class="col-md-8">
                                    <%= al.text_area :note, autofocus: true, placeholder: 'Enter Allergy Detail (Notes)', class: 'form-control my_text_field', style:"color: #1E8449;", size:"5x5"%>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <% end %>
                        </center>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-3" style="background-color:#229954;color:#F0F0F0;">
                        <div class="btn-group">
                            <h5 class="btn" style="font-family: 'Merriweather', serif;margin:0px 0px 0px 0px;padding-top:15px;text-align:center;float:left;font-size: 1.2em;border-color: #229954; border-radius:0px 0px 0px 0px;color:#F0F0F0;">Medication</h5>
                        </div>
                      </div>
                      <div class="col-md-9">
                      </div>
                    </div>
                    <div class="row jumbotron" style="border-top-left-radius: 0px;border-top-right-radius: 0px;padding:0px 0px 20px 0px;">
                      <div class="col-md-12" style="margin-top:0.5em;">
                        <center>
                          <%= f.fields_for :medication do |md| %>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="row" style="margin-top: 0.5em;">
                                  <div class="col-md-4">
                                    <%= label_tag :name, "Name", class:"profile_label", style: "margin-top:0.5em;" %>
                                  </div>
                                  <div class="col-md-8">
                                    <%= md.text_field :name, autofocus: true, placeholder: 'Enter Medication Name', class: 'form-control my_text_field', style:"color: #1E8449;", required: true %>
                                    <h4 id="leader_medication_name_error" class="detail_error">Medication Name is Required</h4>
                                  </div>
                                </div>
                                <div class="row" style="margin-top: 0.5em;">
                                  <div class="col-md-4">
                                    <%= label_tag :dosage, "Dosage", class:"profile_label", style: "margin-top:0.5em;" %>
                                  </div>
                                  <div class="col-md-8">
                                    <%= md.text_field :dosage, autofocus: true, placeholder: 'Enter Dosage', class: 'form-control my_text_field', style:"color: #1E8449;"%>
                                  </div>
                                </div>
                                <div class="row" style="margin-top: 0.5em;">
                                  <div class="col-md-4">
                                    <%= label_tag :frequency, "Frequency", class:"profile_label", style: "margin-top:0.5em;" %>
                                  </div>
                                  <div class="col-md-8">
                                    <%= md.text_field :frequency, autofocus: true, placeholder: 'Enter Frequency', class: 'form-control my_text_field', style:"color: #1E8449;"%>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="row" style="margin-top: 0.5em;">
                                  <div class="col-md-4">
                                    <%= label_tag :note, "Notes", class:"profile_label", style: "margin-top:0.5em;" %>
                                  </div>
                                  <div class="col-md-8">
                                    <%= md.text_area :notes, autofocus: true, placeholder: 'Specify Additional Notes', class: 'form-control my_text_field', style:"color: #1E8449;", size:"5x5"%>
                                  </div>
                                </div>
                              </div>
                            </div>
                          <% end %>
                        </center>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-3" style="background-color:#229954;color:#F0F0F0;">
                        <div class="btn-group">
                            <h5 class="btn" style="font-family: 'Merriweather', serif;margin:0px 0px 0px 0px;padding-top:15px;text-align:center;float:left;font-size: 1.2em;border-color: #229954; border-radius:0px 0px 0px 0px;color:#F0F0F0;">Special Instruction</h5>
                        </div>
                      </div>
                      <div class="col-md-9">
                      </div>
                    </div>
                    <div class="row jumbotron" style="border-top-left-radius: 0px;border-top-right-radius: 0px;padding:0px 0px 20px 0px;">
                      <div class="col-md-12" style="margin-top:0.5em;">
                        <center>
                          <%= f.fields_for :special do |sp| %>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="row" style="margin-top: 0.5em;">
                                  <div class="col-md-4">
                                    <%= label_tag :name, "Name", class:"profile_label", style: "margin-top:0.5em;" %>
                                  </div>
                                  <div class="col-md-8">
                                    <%= sp.text_field :name, autofocus: true, placeholder: 'Enter Special Instruction Name', class: 'form-control my_text_field', style:"color: #1E8449;", required: true%>
                                    <h4 id="leader_special_instructions" class="detail_error">Special Instruction Name is Required</h4>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="row" style="margin-top: 0.5em;">
                                  <div class="col-md-4">
                                    <%= label_tag :note, "Notes", class:"profile_label", style: "margin-top:0.5em;" %>
                                  </div>
                                  <div class="col-md-8">
                                    <%= sp.text_area :notes, autofocus: true, placeholder: 'Specify Additional Notes', class: 'form-control my_text_field', style:"color: #1E8449;", size:"5x5"%>
                                  </div>
                                </div>
                              </div>
                            </div>
                          <% end %>
                        </center>
                      </div>
                    </div>
                  </div>
                </div>

                <br>
                <div class="row">
                  <div class="form-group">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                      <center>
                        <%= f.submit "Create Profile", id:"create_leader" ,class: 'btn btn-block btn-success', style: "font-weight:bold;font-family: 'Merriweather', serif;" %>
                        <br><br>
                        <%= link_to "Back", user_profiles_path,class: 'btn btn-block btn-info', style: "font-weight:bold;font-family: 'Merriweather', serif; background-color:#229954;border-color:#229954;" %>
                      </center>
                    </div>
                    <div class="col-md-5"></div>
                  </div>
                </div>
              <%end%>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- *************************** Start Script for Uploading Image in Post ************************* -->
<script>
	$(document).ready(function() {
		$("#post-upload").on('change', function() {
			//Get count of selected files
			var countFiles = $(this)[0].files.length;
			var imgPath = $(this)[0].value;
			var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
			var image_holder = $("#postImage-holder");
			image_holder.empty();
			if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
				if (typeof(FileReader) != "undefined") {
					//loop for each file selected for uploaded.
					for (var i = 0; i < countFiles; i++)
					{
						var reader = new FileReader();
						reader.onload = function(e) {
							$('#postimg').attr('src', e.target.result);
              $('#team_image').attr('src', e.target.result);
						}
						image_holder.show();
						reader.readAsDataURL($(this)[0].files[i]);
					}
				} else {
					alert("This browser does not support FileReader.");
				}
			}else {
				alert("Please select only images");
			}
		});
	});
</script>
<!-- *************************** End Script for Uploading Image in Post ************************* -->
