<!-- Starting Bootsrap Modal for Add Emergency Contact-->
<div class="row">
  <center>
    <div class="container">
      <div class="modal fade" id="addContact">
        <div class="modal-dialog">
          <div class="modal-content">
            <form id="form">
              <!-- Header -->
              <div class="modal-header" style="background: #2DBF7F;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 class="heading_text">Add Emergency Contact</h4></center>
              </div>
              <!-- Body (form) -->
              <div class="modal-body">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <center>
                        <div class="row">
                          <div class="col-md-1"></div>
                          <div class="col-md-10">

                            <div class="row">
                              <div class="col-md-4">
                                <%= label_tag :contactname, "Contact Name", class:"profile_label", style: "margin-top:0.5em;" %>
                              </div>
                              <div class="col-md-8">
                                <%= text_field_tag :contacname, nil, {id: "name", placeholder: 'Enter Contact Name', class: 'form-control my_text_field', style:"color: #1E8449;"}%>
                                <h4 id="name_error" class="detail_error">Name is required</h4>
                              </div>
                            </div>

                            <div class="row" style="margin-top: 0.5em;">
                              <div class="col-md-4">
                                <%= label_tag :contactname, "Contact Number", class:"profile_label", style: "margin-top:0.5em;" %>
                              </div>
                              <div class="col-md-8">
                                <div class="row">
                                  <div class="col-xs-12 col-md-6" style="padding-right:0px;">
                                    <%= country_select("user", "country", { prompt: 'Select a country' }, {id: "country", class: "form-control my_text_field", style:"color: #1E8449;"}) %>
                                    <h4 id="country_error" class="detail_error">Country is required</h4>
                                  </div>
                                  <div class="col-xs-12 col-md-6"  style="padding-left:0px;">
                                    <%= number_field_tag :phone, nil, {id: "number", placeholder: 'Enter Phone Number', class: 'form-control my_text_field', style:"color: #1E8449;"}%>
                                    <h4 id="number_error" class="detail_error">Number is required</h4>
                                    <h4 id="incorrect_number_error" class="detail_error">Please Correct Your Number</h4>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="row" style="margin-top: 0.5em;">
                              <div class="col-md-4">
                                <%= label_tag :relation, "Relation", class:"profile_label", style: "margin-top:0.5em;" %>
                              </div>
                              <div class="col-md-8">
                                <%= text_field_tag :relation, nil, {id: "relation", placeholder: 'Enter Relation', class: 'form-control my_text_field', style:"color: #1E8449;"}%>
                              </div>
                            </div>

                            <div class="row" style="margin-top: 0.5em;">
                              <div class="col-md-4">
                                <%= label_tag :email, "E-mail", class:"profile_label", style: "margin-top:0.5em;" %>
                              </div>
                              <div class="col-md-8">
                                <%= email_field_tag :email, nil, {id: "email",placeholder: 'Enter E-mail', class: 'form-control my_text_field', style:"color: #1E8449;"}%>
                              </div>
                            </div>

                          </div>
                          <div class="col-md-1"></div>
                        </div>
                      </center>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <center>
                  <h4 id="contact_error" class="detail_error">Unrecognized Error! Try Again Later</h4>
                  <%= image_tag ("loading.gif"), id:"loading_add_contact", class: 'img-responsive', style: "display:none;margin-left:39%;width:32px;height:32px;position:absolute;" %>
                  <% if team_signed_in? %>
                    <button id="add_contact" onclick="add_my_contact(<%= @leader.id%>)" type="button" class='btn btn-large btn-info' style="font-weight:bold;font-family: 'Merriweather', serif; background-color:#229954;border-color:#229954;">Save</button>
                  <%elsif user_signed_in?%>
                    <button id="add_contact" onclick="add_my_contact(<%= @profile.id%>)" type="button" class='btn btn-large btn-info' style="font-weight:bold;font-family: 'Merriweather', serif; background-color:#229954;border-color:#229954;">Save</button>
                  <%end%>
                  <button type="button" class="btn btn-danger" data-dismiss="modal" style="color:#C0392B;">Close</button>
                </center>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </center>
</div>
<!-- Ending Bootsrap Modal for Add Emergency Contact-->
<!-- Starting Bootsrap Modal for Edit Emergency Contact-->
<div class="row">
  <center>
    <div class="container">
      <div class="modal fade" id="updateContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Header -->
            <div class="modal-header" style="background: #2DBF7F;">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <center><h4 class="heading_text">Edit Emergency Contact</h4></center>
            </div>
            <!-- Body (form) -->
            <div class="modal-body">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <center>
                      <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">

                          <div class="row">
                            <div class="col-md-4">
                              <%= label_tag :contactname, "Contact Name", class:"profile_label", style: "margin-top:0.5em;" %>
                            </div>
                            <div class="col-md-8">
                              <%= number_field_tag :contactid, nil, {id: "showid", class: 'form-control my_text_field', style:"color: #1E8449;display:none;"}%>
                              <%= text_field_tag :contacname, nil, {id: "showname", placeholder: 'Enter Contact Name', class: 'form-control my_text_field', style:"color: #1E8449;"}%>
                              <h4 id="upname_error" class="detail_error">Name is required</h4>
                            </div>
                          </div>

                          <div class="row" style="margin-top: 0.5em;">
                            <div class="col-md-4">
                              <%= label_tag :contactname, "Contact Number", class:"profile_label", style: "margin-top:0.5em;" %>
                            </div>
                            <div class="col-md-8">
                              <div class="row">
                                <div class="col-xs-12 col-md-6" style="padding-right:0px;">
                                  <%= country_select("user", "country", { prompt: 'Select a country' }, {id: "showcountry", class: "form-control my_text_field", style:"color: #1E8449;"}) %>
                                  <h4 id="upcountry_error" class="detail_error">Country is required</h4>
                                </div>
                                <div class="col-xs-12 col-md-6"  style="padding-left:0px;">
                                  <%= number_field_tag :phone, nil, {id: "shownumber", placeholder: 'Enter Phone Number', class: 'form-control my_text_field', style:"color: #1E8449;"}%>
                                  <h4 id="upnumber_error" class="detail_error">Number is required</h4>
                                  <h4 id="upincorrect_number_error" class="detail_error">Please Correct Your Number</h4>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row" style="margin-top: 0.5em;">
                            <div class="col-md-4">
                              <%= label_tag :relation, "Relation", class:"profile_label", style: "margin-top:0.5em;" %>
                            </div>
                            <div class="col-md-8">
                              <%= text_field_tag :relation, nil, {id: "showrelation", placeholder: 'Enter Relation', class: 'form-control my_text_field', style:"color: #1E8449;"}%>
                            </div>
                          </div>

                          <div class="row" style="margin-top: 0.5em;">
                            <div class="col-md-4">
                              <%= label_tag :email, "E-mail", class:"profile_label", style: "margin-top:0.5em;" %>
                            </div>
                            <div class="col-md-8">
                              <%= email_field_tag :email, nil, {id: "showemail",placeholder: 'Enter E-mail', class: 'form-control my_text_field', style:"color: #1E8449;"}%>
                            </div>
                          </div>

                        </div>
                        <div class="col-md-1"></div>
                      </div>
                    </center>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <center>
                <h4 id="upcontact_error" class="detail_error">Unrecognized Error! Try Again Later</h4>
                <%= image_tag ("loading.gif"), id:"loading_update_contact", class: 'img-responsive', style: "display:none;margin-left:39%;width:32px;height:32px;position:absolute;" %>
                <% if team_signed_in? %>
                  <button id="updte_contact" onclick="update_my_contact(<%= @leader.id%>)" type="button" class='btn btn-large btn-info' style="font-weight:bold;font-family: 'Merriweather', serif; background-color:#229954;border-color:#229954;">Save</button>
                <%elsif user_signed_in?%>
                  <button id="updte_contact" onclick="update_my_contact(<%= @profile.id%>)" type="button" class='btn btn-large btn-info' style="font-weight:bold;font-family: 'Merriweather', serif; background-color:#229954;border-color:#229954;">Save</button>
                <%end%>
                <button type="button" class="btn btn-danger" data-dismiss="modal" style="color:#C0392B;">Close</button>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </center>
</div>
<!-- Ending Bootsrap Modal for Edit Emergency Contact-->
